NewsFlow_AI - n8n Challenge.json
{
  "name": "n8n Challenge",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2368,
        224
      ],
      "id": "d84c24b6-6ce7-4a01-b568-052f0848e610",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wpWFuimbtmZRS3vo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AGC3G4VEE",
          "mode": "list",
          "cachedResultName": "n8nchallenge"
        },
        "text": "={{ $('Paraphrase into Newsletter Format').item.json.text}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -352,
        160
      ],
      "id": "b320ac8c-d830-4e2d-b47d-67fea01deac6",
      "name": "Send a message",
      "webhookId": "09956009-ab75-4dcc-9be3-46a2ab4a1457",
      "credentials": {
        "slackApi": {
          "id": "5MnNl8ppaudtoRmJ",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json[\"topic\"] }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a news research assistant. \nExtract the main topic from user input.\nCreate a short optimized web search query.\nReturn only the search query."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -2256,
        -48
      ],
      "id": "a438199e-2748-4f41-b4e4-b781abfbe055",
      "name": "AI to Structure Search Query"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db7af7c9-b727-4fcb-971c-ad50d140fdcc",
              "name": "topic",
              "value": "={{ $json[\"text\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2496,
        -32
      ],
      "id": "cfacf503-016a-41bf-a4aa-7452cc859058",
      "name": "Extract User Topic"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df0f4368-390d-4aa7-bd39-6af38892115f",
              "name": "=rawNewsContent",
              "value": "={{(() => {\n  const results = $json[\"organic_results\"] || [];\n  return results.map(r => r.snippet).join(\"\\n\\n\");\n})()}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1744,
        -112
      ],
      "id": "6cb9c8b5-8533-4035-98e0-1daf7de90f86",
      "name": "Extract Useful Content"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1552,
        192
      ],
      "id": "ff5e7ede-3405-4260-94da-074ae20be650",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "wpWFuimbtmZRS3vo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AGC3G4VEE",
          "mode": "list",
          "cachedResultName": "n8nchallenge"
        },
        "message": "={{ $json.text }} Do you approve the above content?",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 15,
              "resumeUnit": "minutes"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -1120,
        -16
      ],
      "id": "1e690cc0-8f98-4627-bd7a-11f5357e745d",
      "name": "Send message and wait for response",
      "webhookId": "188866ac-66f0-4245-b191-4ab67ff901c3",
      "credentials": {
        "slackApi": {
          "id": "5MnNl8ppaudtoRmJ",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a8ff167d-9561-4ca6-a848-ce8cd2f1f5cb",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -896,
        112
      ],
      "id": "8b0581d7-c07d-4d0e-9522-e9d13737e440",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=News Content:\n{{ $json[\"rawNewsContent\"] }}\n\nTopic:\n{{ $('Extract User Topic').item.json.topic }}",
        "messages": {
          "messageValues": [
            {
              "message": "={\n  \"role\": \"system\",\n  \"content\": \"You are a professional newsletter editor.\\n\\nYour task is to generate a structured newsletter using EXACTLY the format below.\\n\\nTHIS IS A HARD FORMAT REQUIREMENT.\\nIf the format is not followed exactly, regenerate before responding.\\n\\nCRITICAL RULES:\\n- Every section label must be on its own line.\\n- There must be one blank line after every label.\\n- Content must start on the next line after the blank line.\\n- There must be one blank line between every section.\\n- Do NOT combine labels and content on the same line.\\n- Do NOT add explanations.\\n- Do NOT add markdown.\\n- Do NOT add HTML.\\n- Do NOT add bullet points.\\n- Do NOT add emojis.\\n- Do NOT add commentary outside the required structure.\\n- Output must begin exactly with: NEWSLETTER\\n\\nREQUIRED OUTPUT STRUCTURE:\\n\\nNEWSLETTER\\n\\n[Newsletter Name]\\n\\nVolume #1\\n\\n[Volume information]\\n\\nHEADER COLOR\\n\\n[Single hex color code only — example: #0A1F44]\\n\\nBORDER COLOR\\n\\n[Single hex color code only — example: #16A34A]\\n\\nWELCOME SECTION\\n\\n[Short professional introduction paragraph.]\\n\\nMAIN TITLE\\n\\n[Engaging headline.]\\n\\nHeadline News\\n\\n[Detailed news explanation paragraph.]\\n\\nBreaking News\\n\\n[Short urgent update paragraph.]\\n\\nWhat can be expected in upcoming week:\\n\\n[Forward-looking outlook paragraph.]\\n\\nQuote Section\\n\\n[One expert-style quote only.]\\n\\nClosing paragraph.\\n\\n[Professional closing paragraph.]\\n\\nENFORCEMENT CONDITIONS:\\n- HEADER COLOR must contain only one hex code.\\n- BORDER COLOR must contain only one hex code.\\n- Do NOT explain color choices.\\n- Do NOT remove blank lines.\\n- Do NOT merge sections.\\n- If formatting breaks, regenerate correctly before output.\\n\\nTone:\\nProfessional, engaging, editorial, neutral.\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1472,
        -16
      ],
      "id": "324bedbd-9f27-435d-9be3-cb5923c5a991",
      "name": "Paraphrase into Newsletter Format"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.text }}"
            },
            {
              "name": "num",
              "value": "5"
            },
            {
              "name": "api_key",
              "value": "be6942ee3a247c27f48a1bf6f45322d98ad4ceac0c78b8f0bce389e7eeca8ba9"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1952,
        16
      ],
      "id": "36f38d9d-5dd3-4742-8c67-496e21c47efa",
      "name": "Web search Node"
    },
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0AGC3G4VEE",
          "mode": "list",
          "cachedResultName": "n8nchallenge"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -2768,
        48
      ],
      "id": "71d1db55-719b-4177-9e83-714beac12734",
      "name": "Slack Trigger",
      "webhookId": "8a18942f-d612-4c58-99be-f74e0f38ad53",
      "credentials": {
        "slackApi": {
          "id": "5MnNl8ppaudtoRmJ",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "arulkumarbarathan@gmail.com",
        "subject": "Quick News Bites",
        "message": "={{ $json.htmlContent }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -384,
        -160
      ],
      "id": "2a02bb3a-0f2b-4540-b984-7116823a4a8e",
      "name": "Send a message1",
      "webhookId": "f6c9bcff-9cd6-4663-aca5-d35c32a81d48",
      "credentials": {
        "gmailOAuth2": {
          "id": "42OU81s54egAEzKh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96ef1d97-0632-4b4b-9ee4-6e2eb458055b",
              "name": "htmlContent",
              "value": "={{(() => {\n\n  const text = $('Paraphrase into Newsletter Format').item.json.text;\n\n  function getSection(label, nextLabel) {\n    const regex = new RegExp(\n      label + \"\\\\n+([\\\\s\\\\S]*?)(?=\\\\n+\" + nextLabel + \"|$)\",\n      \"i\"\n    );\n    const match = text.match(regex);\n    return match ? match[1].trim() : \"\";\n  }\n\n  const newsletter = getSection(\"NEWSLETTER\", \"Volume #1\");\n  const volume = getSection(\"Volume #1\", \"HEADER COLOR\");\n  const headerColor = getSection(\"HEADER COLOR\", \"BORDER COLOR\") || \"#0A1F44\";\n  const borderColor = getSection(\"BORDER COLOR\", \"WELCOME SECTION\") || \"#16A34A\";\n  const welcome = getSection(\"WELCOME SECTION\", \"MAIN TITLE\");\n  const mainTitle = getSection(\"MAIN TITLE\", \"Headline News\");\n  const headlineNews = getSection(\"Headline News\", \"Breaking News\");\n  const breakingNews = getSection(\"Breaking News\", \"What can be expected in upcoming week:\");\n  const upcoming = getSection(\"What can be expected in upcoming week:\", \"Quote Section\");\n  const quote = getSection(\"Quote Section\", \"Closing paragraph.\");\n  const closing = getSection(\"Closing paragraph.\", \"$\");\n\n  return `\n  <html>\n  <head>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      margin: 40px;\n      line-height: 1.6;\n    }\n\n    .top-banner {\n      background-color: ${headerColor};\n      color: white;\n      padding: 20px;\n      text-align: center;\n      font-size: 30px;\n      font-weight: bold;\n      border-radius: 8px;\n    }\n\n    .volume {\n      text-align: center;\n      font-size: 14px;\n      margin-top: 5px;\n      color: #eee;\n    }\n\n    .welcome {\n      border: 2px solid ${borderColor};\n      padding: 20px;\n      margin-top: 25px;\n      background-color: #f5f8ff;\n      border-radius: 10px;\n    }\n\n    .main-title {\n      margin-top: 30px;\n      font-size: 24px;\n      font-weight: bold;\n      color: ${headerColor};\n    }\n\n    .section-box {\n      border-left: 6px solid ${borderColor};\n      padding: 15px;\n      background-color: #f9fafb;\n      margin-top: 20px;\n      font-size: 16px;\n    }\n\n    .section-title {\n      font-weight: bold;\n      margin-bottom: 8px;\n    }\n\n    .quote {\n      margin-top: 25px;\n      font-style: italic;\n      padding: 15px;\n      background-color: #f1f5f9;\n      border-radius: 8px;\n    }\n\n    .closing {\n      margin-top: 25px;\n    }\n\n    .footer {\n      margin-top: 40px;\n      font-size: 12px;\n      color: gray;\n      text-align: right;\n    }\n\n  </style>\n  </head>\n\n  <body>\n\n    <div class=\"top-banner\">\n      ${newsletter}\n      <div class=\"volume\">${volume}</div>\n    </div>\n\n    <div class=\"welcome\">\n      <h2>Welcome</h2>\n      <p>${welcome.replace(/\\n/g, \"<br><br>\")}</p>\n    </div>\n\n    <div class=\"main-title\">\n      ${mainTitle}\n    </div>\n\n    <div class=\"section-box\">\n      <div class=\"section-title\">Headline News</div>\n      ${headlineNews.replace(/\\n/g, \"<br><br>\")}\n    </div>\n\n    <div class=\"section-box\">\n      <div class=\"section-title\">Breaking News</div>\n      ${breakingNews.replace(/\\n/g, \"<br><br>\")}\n    </div>\n\n    <div class=\"section-box\">\n      <div class=\"section-title\">What Can Be Expected Next Week</div>\n      ${upcoming.replace(/\\n/g, \"<br><br>\")}\n    </div>\n\n    <div class=\"quote\">\n      ${quote}\n    </div>\n\n    <div class=\"closing\">\n      ${closing.replace(/\\n/g, \"<br><br>\")}\n    </div>\n\n    <div class=\"footer\">\n      Generated on ${new Date().toLocaleDateString()}\n    </div>\n\n  </body>\n  </html>\n  `;\n\n})()}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        -48
      ],
      "id": "1f9ac178-8e9d-40d8-acd4-32d91aaf0969",
      "name": "Format Readers Friendly"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI to Structure Search Query",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI to Structure Search Query": {
      "main": [
        [
          {
            "node": "Web search Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract User Topic": {
      "main": [
        [
          {
            "node": "AI to Structure Search Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Useful Content": {
      "main": [
        [
          {
            "node": "Paraphrase into Newsletter Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Paraphrase into Newsletter Format",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paraphrase into Newsletter Format": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Format Readers Friendly",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Web search Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web search Node": {
      "main": [
        [
          {
            "node": "Extract Useful Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Extract User Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Format Readers Friendly": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c1b7b364-555d-42a9-96fc-598bd3261a51",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "064d3684dbc590a1f1f10c39f05139c5ad81cb84afcb0669bf9381aa04fd1213"
  },
  "id": "YP70ykQihM2IeVKs",
  "tags": []
}