Week5/Telegram automation.json
{
  "name": "Telegram automation",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        0
      ],
      "id": "9203e472-36b4-4b29-b26e-9d9e5e5fcdb9",
      "name": "Telegram Trigger",
      "webhookId": "dd66967f-3ea4-4df3-bc10-9544fd4a0945",
      "credentials": {
        "telegramApi": {
          "id": "GeyGnhnv7hlGLmNG",
          "name": "akuserchat"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reply the user requested query {{ $json.message.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a skilled personal assistant"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -352,
        0
      ],
      "id": "9ebaf512-ee4c-47d0-8548-14bde0703444",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -432,
        208
      ],
      "id": "c920fd03-4644-4ce8-b48e-72ed4d76b44f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wpWFuimbtmZRS3vo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        16
      ],
      "id": "ed957fa1-ad50-4f6d-b9e9-42983ab44258",
      "name": "Send a text message",
      "webhookId": "eb1a0c10-93c3-44a2-b138-e2342f126c47",
      "credentials": {
        "telegramApi": {
          "id": "GeyGnhnv7hlGLmNG",
          "name": "akuserchat"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1f918fc6-735e-431a-b119-069a127886d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "064d3684dbc590a1f1f10c39f05139c5ad81cb84afcb0669bf9381aa04fd1213"
  },
  "id": "1twpPqRpfsJqGXY5",
  "tags": []
}